.wrapper {
    width: 100%; height: fit-content;
    display: flex; justify-content: center; align-items: center; flex-flow: column nowrap;
    .containerImage {
        display: flex; justify-content: center; align-items: center; flex-flow: column nowrap;
        width: 1278px; height: 303px;
        border-radius: 160px;
        background-image: url(./Assets/tech-hard-girl-vr.png);
        background-size: cover;
        h1 {
            color: white;
            font-weight: bold;
            font-size: 36px;
        }
        h2 {
            color: white;
            font-weight: lighter;
            font-size: 36px;
        }
    }
    .borderCircle {
        width: 100px; height: 100px;
        display: flex; justify-content: center; align-items: center;
        position: absolute; top: 400px;
        background-color: rgba($color: #0E0E0E, $alpha: 0.32);
        border-radius: 50%;
        border: 0;
        cursor: pointer;
        .circle {
            width: 70px; height: 70px;
            display: flex; justify-content: center; align-items: center;
            border-radius: 50%;
            background: rgb(192,183,232);
            background: -moz-linear-gradient(270deg, rgba(192,183,232,1) 0%, rgba(129,118,175,1) 100%);
            background: -webkit-linear-gradient(270deg, rgba(192,183,232,1) 0%, rgba(129,118,175,1) 100%);
            background: linear-gradient(270deg, rgba(192,183,232,1) 0%, rgba(129,118,175,1) 100%);
            .bottomArrow {
                width: 60px; height: 60px;
                background-image: url(./Assets/bottomArrow.png);
                background-size: cover;
                transition: 0.3s;
            }
        }
    }
}

@media (max-width: 1300px) {
    .wrapper {
        width: 100%; height: fit-content;
        display: flex; justify-content: center; align-items: center; flex-flow: column nowrap;
        .containerImage {
            display: flex; justify-content: center; align-items: center; flex-flow: column nowrap;
            width: 1078px; height: 303px;
            border-radius: 160px;
            background-image: url(./Assets/tech-hard-girl-vr.png);
            background-size: cover;
        }
    }
}

@media (max-width: 1210px) {
    .wrapper {
        margin-top: 100px;
        .containerImage {
            display: flex; justify-content: center; align-items: center; flex-flow: column nowrap;
            width: 90vw; height: 303px;
            border-radius: 160px;
            background-image: url(./Assets/tech-hard-girl-vr.png);
            background-position: 45%;
            background-size: cover;
        }
        .borderCircle {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        margin-top: 100px;
        .containerImage {
            width: 90vw; height: 50vw;
            border-radius: 60px;
            background-position: 45%;
            h1 {
                color: white;
                font-weight: bold;
                font-size: 5vw;
            }
            h2 {
                color: white;
                font-weight: lighter;
                font-size: 5vw;
            }
        }
    }
}