* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  }
.wrapper {
  width: 100vw; height: fit-content; min-height: 100vh;
  box-sizing: border-box;
  background-color: #302C42;
  background-size: cover;
}