.wrapper {
    width: 100vw; height: 80vh;
    display: flex; justify-content: center; align-items: center;
    .container {
        width: fit-content; height: 600px;
        display: flex; justify-content: space-between; align-items: center; flex-flow: column nowrap;
        background: rgb(64,58,95);
        background: -moz-radial-gradient(circle, rgba(64,58,95,1) 0%, rgba(33,30,46,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(64,58,95,1) 0%, rgba(33,30,46,1) 100%);
        background: radial-gradient(circle, rgba(64,58,95,1) 0%, rgba(33,30,46,1) 100%);
        border-radius: 100px;
        padding: 50px;
        .header {
            width: fit-content; height: 140px;
            display: flex; justify-content: space-between; align-items: center; flex-flow: column nowrap;
            h1 {
                display: inline-block;
                font-size: 36px;
                font-weight: bold;
                color: white;
            }
            .header__horizontalLine {
                width: 25vw; height: 3px;
                background: rgb(52,48,69);
                background: -moz-linear-gradient(270deg, rgba(52,48,69,1) 0%, rgba(192,183,232,1) 34%, rgba(129,118,175,1) 62%, rgba(52,48,69,1) 100%);
                background: -webkit-linear-gradient(270deg, rgba(52,48,69,1) 0%, rgba(192,183,232,1) 34%, rgba(129,118,175,1) 62%, rgba(52,48,69,1) 100%);
                background: linear-gradient(270deg, rgba(52,48,69,1) 0%, rgba(192,183,232,1) 34%, rgba(129,118,175,1) 62%, rgba(52,48,69,1) 100%);
            }
            .header__bottomText {
                display: flex; justify-content: center; align-items: center;
                h1 {
                    display: inline-block;
                    font-size: 36px;
                    font-weight: lighter;
                    color: white;
                    margin-right: 5px;
                }
                h2 {
                    display: inline-block;
                    font-size: 36px;
                    font-weight: lighter;
                    color: white;
                }
            }
        }
        .fullName {
            display: flex; justify-content: space-between; align-items: center;
            width: 1058px; height: fit-content;
            input {
                width: 435px; height: fit-content;
                border: 2px solid white;
                border-radius: 40px;
                background: transparent;
                padding: 10px 42px;
                color: white;
                outline: 0;
            }
        }
        .contacts {
            display: flex; justify-content: space-between; align-items: center;
            width: 1058px; height: fit-content;
            input {
                width: 435px; height: fit-content;
                border: 2px solid white;
                border-radius: 40px;
                background: transparent;
                padding: 10px 42px;
                color: white;
                outline: 0;
            }
        }
        .subject {
            display: flex; justify-content: space-between; align-items: center;
            width: fit-content; height: fit-content;
            input {
                width: 972px; height: fit-content;
                border: 2px solid white;
                border-radius: 40px;
                background: transparent;
                padding: 10px 42px;
                color: white;
                outline: 0;
            }
        }
        .description {
            width: fit-content; height: fit-content;
            textarea {
                resize: none;
                width: 976px; height: 210px;
                border: 2px solid white;
                border-radius: 40px;
                background: transparent;
                padding: 10px 42px;
                color: white;
                outline: 0; 
            }
        }
        button {
            background: rgb(129,118,175);
            background: -moz-linear-gradient(270deg, rgba(129,118,175,1) 0%, rgba(192,183,232,1) 100%);
            background: -webkit-linear-gradient(270deg, rgba(129,118,175,1) 0%, rgba(192,183,232,1) 100%);
            background: linear-gradient(270deg, rgba(129,118,175,1) 0%, rgba(192,183,232,1) 100%);
            padding: 16px 55px;
            font-size: 12px;
            font-weight: bold;
            color: #343045;
            border-radius: 40px;
            border: 0;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                color: white;
            }
        }
    }
}

@media (max-width: 1210px) {
    .wrapper {
        height: 100vh;
        .container {
            .fullName {
                width: 858px; height: fit-content;
                input {
                    width: 335px; height: fit-content;
                }
            }
            .contacts {
                width: 858px; height: fit-content;
                input {
                    width: 335px; height: fit-content;
                }
            }
            .subject {
                input {
                    width: 772px; height: fit-content;
                }
            }
            .description {
                textarea {
                    width: 776px; height: 210px;
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .wrapper {
        height: 100vh;
        .container {
            .fullName {
                width: 558px; height: fit-content;
                input {
                    width: 185px; height: fit-content;
                }
            }
            .contacts {
                width: 558px; height: fit-content;
                input {
                    width: 185px; height: fit-content;
                }
            }
            .subject {
                input {
                    width: 472px; height: fit-content;
                }
            }
            .description {
                textarea {
                    width: 472px; height: 210px;
                }
            }
        }
    }
}

@media (max-width: 686px) {
    .wrapper {
        .container {
            padding: 25px;
            .header {
                h1 {
                    font-size: 24px;
                }
                .header__horizontalLine {
                    width: 25vw; height: 3px;
                }
                .header__bottomText {
                    flex-flow: column nowrap;
                    h1 {
                        font-size: 24px;
                    }
                    h2 {
                        font-size: 24px;
                    }
                }
            }
            .fullName {
                width: 380px; height: fit-content;
                input {
                    padding-left: 15px;
                    width: 125px; height: fit-content;
                }
            }
            .contacts {
                width: 380px; height: fit-content;
                input {
                    padding-left: 15px;
                    width: 125px; height: fit-content;
                }
            }
            .subject {
                input {
                    padding-left: 15px;
                    width: 323px; height: fit-content;
                }
            }
            .description {
                textarea {
                    padding-left: 25px;
                    width: 323px; height: 210px;
                }
            }
        }
    }
}

@media (max-width: 462px) {
    .wrapper {
        .container {
            height: fit-content;
            padding: 25px 15px;
            border-radius: 40px;
            .header {
                height: fit-content;
                h1 {
                    margin: 10px 0;
                }
                .header__horizontalLine {
                    margin: 10px 0;
                }
                .header__bottomText {
                    h1 {
                        margin-right: 0;
                        margin: 10px 0;
                    }
                    h2 {
                        margin: 10px 0;
                    }
                }
            }
            .fullName {
                width: 180px; height: fit-content;
                flex-flow: column nowrap;
                input {
                    padding-left: 15px;
                    width: 100%; height: fit-content;
                    margin: 5px 0;
                }
            }
            .contacts {
                width: 180px; height: fit-content;
                flex-flow: column nowrap;
                input {
                    padding-left: 15px;
                    width: 100%; height: fit-content;
                    margin: 5px 0;
                }
            }
            .subject {
                input {
                    padding-left: 15px;
                    width: 180px; height: fit-content;
                    margin: 5px 0;
                }
            }
            .description {
                textarea {
                    padding-left: 25px;
                    width: 180px; height: 210px;
                    margin: 5px 0;
                }
            }
        }
    }
}